/*analogs specific styling*/
:root {
    --highlight: rgb(187, 58, 178);
}

@media (prefers-color-scheme: light) {
    body {
        --highlight: rgb(255, 0, 240);
    }
}

.item {
    border-radius: 6px;
    width: 6rem;
    height: 4rem;
    color: var(--text);
    border: 2px solid var(--text);
    background-color: var(--bg);
    transition:
        border-width 100ms,
        border-color 100ms;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item > p {
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: 900;
    font-size: 1rem;
}

.item.selected {
    border-width: 6px;
    border-color: var(--highlight);
}

.pair {
    border-radius: 6px;
    border: 1px solid var(--text);
    background-color: var(--bg);
    display: flex;
    padding: 0.5rem;
    gap: 2px;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
}