/*analogs specific styling*/
:root {
    --highlight: rgb(140, 25, 163);
}

@media (prefers-color-scheme: light) {
    body {
        --highlight: rgb(255, 124, 246);
    }
}

/*#heading {
    background-color: var(--highlight);
}*/

.item {
    box-sizing: border-box;
    border-radius: 1rem;
    width: 6rem;
    height: 4rem;
    color: var(--text);
    border: none;
    background-color: var(--bg);
    transition:
        background-color 100ms;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item > p {
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: 900;
    font-size: 1rem;
    color: var(--text);
}

.item.selected {
    border: none;
    background-color: var(--highlight);
}

.pair {
    border-radius: calc(1rem + 4px);
    border: 2px solid var(--text);
    background-color: var(--text);
    color: var(--bg);
    display: flex;
    padding: 2px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
}

.game {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.disabled {
    pointer-events: none;
}

button:disabled {
    opacity: 100%;
    background-color: var(--bg);
    color: var(--disabled);
    border-color: var(--disabled);
}

button {
    position: relative;
    background-color: var(--highlight);
}
@media (prefers-color-scheme: dark) {
    button {
        background-color: var(--bg);
        color: var(--highlight);
        border-color: var(--highlight);
    }
}

.button-progress {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: calc(0.5rem - 2px);
    height: 100%;
    opacity: 50%;
    background-color: var(--highlight);
}

.buttons-div {
    display: flex;
    gap: 0.25rem;
}

.pair.correct {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

dialog {
    border-radius: 1rem;
    border-width: 4px;
    border-color: var(--text);
    background-color: var(--highlight);
    transform: translate(0%, -100%);
    animation: fadeout 0.25s ease-in forwards;
}

dialog[open] {
    animation: fadein 0.25s ease-in forwards;
}

@keyframes fadein{
    0%{
        transform: scale(0);
        opacity: 0;

    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}