/*analogs specific styling*/
:root {
    --highlight: rgb(75, 23, 85);
}

@media (prefers-color-scheme: light) {
    body {
        --highlight: rgb(255, 124, 246);
    }
}

#heading {
    background-color: var(--highlight);
}

.item {
    box-sizing: border-box;
    border-radius: 1rem;
    width: 6rem;
    height: 4rem;
    color: var(--text);
    border: none;
    background-color: var(--bg);
    transition:
        background-color 100ms;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item > p {
    text-align: center;
    font-family: 'Roboto Mono';
    font-weight: 900;
    font-size: 1rem;
    color: var(--text);
}

.item.selected {
    border: none;
    background-color: var(--highlight);
}

.pair {
    border-radius: calc(1rem + 4px);
    border: 2px solid var(--text);
    background-color: var(--text);
    color: var(--bg);
    display: flex;
    padding: 2px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
}

.game {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.disabled {
    pointer-events: none;
}