body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', serif;
}

#full-window {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1;
    padding: 1rem;
    border-width: 4px;
    border-radius: 1.5rem;
    border-color: black;
    border-style: solid;
}

#game {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3rem;
    margin: -1rem;
}

p {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

input {
    transition:
        border-width 100ms,
        border-color 100ms;
}

:disabled {
    background-color: white;
    opacity: 1;
}