:root {
    --bg: #1c1c1d;
    --text: #a0a0a0;
    --highlight: rgb(172, 146, 0);
}

@media (prefers-color-scheme: light) {
    body {
        --bg: white;
        --text: black;
        --highlight: gold;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', serif;
    gap: 1rem;
    color: var(--text);
    background-color: var(--bg);
}

.foreground {
    stroke: var(--text);
    color: var(--text);
}

.background {
    stroke: var(--bg);
    color: var(--bg);
}

.emphasized {
    border-width: 6px;
    border-color: var(--highlight);
    color: var(--highlight);
    stroke: var(--highlight);
}

.selected {
    border-width: 6px;
}

#carousel {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    gap: 4vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    align-items: stretch;
}


/*hide the carousel scroll bar*/
#carousel {
  -ms-overflow-style: none; /* For Internet Explorer/Edge legacy */
  scrollbar-width: none; /* For Firefox */
}
ul::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer Edge */
}

ul::scroll-marker-group {
  position: absolute;
  position-anchor: --carousel;
  anchor-name: --scroll-marker-group;
  top: calc(anchor(bottom) + 1rem);
  justify-self: anchor-center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

li::scroll-marker {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--text);
  border-radius: 50%;
}

li::scroll-marker:target-current {
  background-color: var(text);
}

#carousel li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex: 1 0 100%;
    scroll-snap-align: center;
}

#instructions li {
    list-style-type: circle;
}

.puzzle, #heading, #instructions {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20rem;
    margin: 0 auto 0 auto;
    padding: 1rem;
    border-width: 4px;
    border-radius: 1.5rem;
    border-color: var(--text);
    border-style: solid;
}

.game {
    position: relative;
    width: 18rem;
    height: 18rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.bonus {
    border: 4px solid var(--highlight);
}

.christmas {
    border: none;
    outline: 4px dashed rgb(0, 68, 0);
    box-shadow: 0 0 0 4px rgb(128, 0, 0);
    margin: 4px auto 4px auto;
}

#instructions ul{
    padding: 0;
    padding-left: 1rem;
}

h1 {
    font-size: 3rem;
    margin: -1rem;
}

h2 {
    margin: 0rem;
}

p {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

input[type="text"] {
    border-radius: 50%;
    box-sizing: border-box;
    color: var(--text);
    border: 2px solid var(--text);
    background-color: var(--bg);
    width: 4rem;
    height: 4rem;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 3rem;
    font-weight: 900;
    position: absolute;
    transition:
        border-width 100ms,
        border-color 100ms;
}

input[type="text"].emphasized {
    border-width: 6px;
    border-color: var(--highlight);
    color: var(--highlight);
}

input.given {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

input[type="checkbox"] {
    border: 2px solid var(--text);
    background-color: var(--bg);
    color: var(--text);
    accent-color: var(--text);
}

button {
    background-color: var(--highlight);
    color: var(--text);
    border: 2px solid var(--text);
    font-size: 1rem;
    font-weight: 900;
    border-radius: 0.5rem;
    padding: 0.25rem 2rem 0.25rem 2rem;
    margin:0.25rem;
    transition:
        opacity 500ms;
}
@media (prefers-color-scheme: dark) {
    button {
        background-color: var(--bg);
        color: var(--highlight);
        border-color: var(--highlight);
    }
}

button:disabled {
    opacity: 0;
}

:disabled {
    background-color: var(--bg);
    opacity: 1;
}