body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', serif;
    gap: 1rem;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
}



ul {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    gap: 4vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-marker-group: after;
    anchor-name: --carousel;
}


/*hide the carousel scroll bar*/
ul {
  -ms-overflow-style: none; /* For Internet Explorer/Edge legacy */
  scrollbar-width: none; /* For Firefox */
}
ul::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer Edge */
}

ul::scroll-marker-group {
  position: absolute;
  position-anchor: --carousel;
  anchor-name: --scroll-marker-group;
  top: calc(anchor(bottom) + 1rem);
  justify-self: anchor-center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

li::scroll-marker {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
}
@media (prefers-color-scheme: dark) {
    li::scroll-marker {
        border-color: white;
    }
}

li::scroll-marker:target-current {
  background-color: black;
}
@media (prefers-color-scheme: dark) {
    li::scroll-marker:target-current {
        background-color: white;
    }
}

li {
    list-style-type: none;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.puzzle, #heading {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1;
    width: 20rem;
    margin:auto;
    padding: 1rem;
    border-width: 4px;
    border-radius: 1.5rem;
    border-color: black;
    border-style: solid;
}
@media (prefers-color-scheme: dark) {
    .puzzle, #heading {
        border-color: white;
    }
}

.game {
    position: relative;
    width: 18rem;
    height: 18rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3rem;
    margin: -1rem;
}

p {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

input {
    border-radius: 50%;
    box-sizing: border-box;
    color: black;
    border: 2px solid black;
    width: 4rem;
    height: 4rem;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 3rem;
    font-weight: 900;
    position: absolute;
    transition:
        border-width 100ms,
        border-color 100ms;
}
@media (prefers-color-scheme: dark) {
    input {
        background-color: black;
        border-color: white;
        color: white;
    }
}

button {
    background-color: gold;
    color: black;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 0.5rem;
    padding: 0.25rem 2rem 0.25rem 2rem;
    margin:0.25rem;
    transition:
        opacity 500ms;
}
@media (prefers-color-scheme: dark) {
    button {
        background-color: black;
        color: gold;
        border-color: gold;
    }
}

button:disabled {
    opacity: 0;
}

:disabled {
    background-color: white;
    opacity: 1;
}
@media (prefers-color-scheme: dark) {
    :disabled {
        background-color: black;
    }
}