/*word-webs specific styling*/
:root {
    --highlight: var(--word-webs);
}
@media (prefers-color-scheme: light) {
    body {
        --highlight: var(--word-webs);
    }
}

input[type="text"] {
    border-radius: 50%;
    box-sizing: border-box;
    color: var(--text);
    border: 2px solid var(--text);
    background-color: var(--bg);
    width: 4rem;
    height: 4rem;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 3rem;
    font-weight: 900;
    position: absolute;
    transition:
        border-width 100ms,
        border-color 100ms;
}

input[type="text"].emphasized {
    border-width: 6px;
    border-color: var(--highlight);
    color: var(--highlight);
}

input.given {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

input[type="checkbox"] {
    border: 2px solid var(--text);
    background-color: var(--bg);
    color: var(--text);
    accent-color: var(--text);
}