/*scramble specific styling*/
:root {
    --highlight: var(--scramble);
}

@media (prefers-color-scheme: light) {
    body {
        --highlight: var(--scramble);
    }
}

.game {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

button:disabled {
    opacity: 0;
}

.scramble {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: center;
}

.dispensers-div {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: center;
}

.dispenser {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-self:stretch;
    padding: 0.5rem;
    margin-top: 0;
}

.dispenser-button {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--highlight);
    border-radius: 50%;
    border-width: 2px;
    border-color: var(--text);
    border-style: solid;
    padding: 0;
}

.dispenser-stack {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 1rem;
    border: 2px solid var(--text);
    border-radius: 100vmax;
    padding: 0.25rem;
    align-items: center;
    justify-content: end;

}

.letter {
    margin-top: -0.3rem;
    margin-bottom: -0.25rem;
    font-size: 1.75rem;
    font-weight: 900;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}